<h1>Places</h1>

<a href="/places/new/" class="btn btn-info">New Place<a/>

<p>
  <div class="d-flex flex-column">
      <% for place in @places %>
        <div class="mb-2">
          <a href="/places/<%= place["id"] %>"><%= place["name"] %></a>
        </div>
      <% end %>
  </div>
</p>